@import url(../style/fonts.css)
@import url(../style/page-background.css)
@import url(../style/nav.css)
@import url(../style/main.css)
@import url(../style/catalog.css)
@import url(../style/discount.css)
@import url(../style/work.css)
@import url(../style/info.css)
@import url(../style/news.css)
@import url(../style/instagram.css)
@import url(../style/subscribe.css)
@import url(../style/footer.css)


body
  max-width: 1920px
  margin: 0 auto


.container
  max-width: 1680px
  padding: 0 85px
  margin: 0 auto
  font-family: Gilroy
  @media (max-width: 1000px)
    padding: 0 35px
  @media (max-width: 465px)
    padding: 0 17px
